@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #101920;
    overflow-y: hidden;
  }

  .custom-bg2 {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 1.5rem;
    width: 100%;
  }

  ::selection {
    background-color: #000;
    color: #eab308; /* Optional: Adjust the text color for better contrast */
  }
  
/* Dark Mode Styles */
body.dark {
  background-color: #11141d; /* Dark background */
  color: #E0E0E0; /* Light text for dark mode */
}

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  co-pilot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  